.myPosts {
    padding:  10px;
}

.inputItem {
    display: flex;
    align-items: center;
    text-align: center;
}
.posts {
    margin-top: 10px;
}

/*.buttonAddPost {*/
/*    background-color: #6200ee; !* Green *!*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 5px 15px 5px 15px ;*/
/*    cursor: pointer;*/
/*    border-radius: 50px;*/
/*    !*text-align: center;*!*/
/*    !*text-decoration: none;*!*/
/*    !*display: inline-block;*!*/
/*    !*font-size: 16px;*!*/
/*}*/
