/*.user {*/
/*    display: flex;*/
/*    padding: 4px;*/
/*    !*border-radius: 10px;*!*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

.avatarColor {
    background-color: var(--primary);
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}