/* @import "./Profile/Profile.css"; */

.mainContent {
  grid-area: c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: #FAFAFA;
}

.mainContent::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  background-color: white;
}

.mainContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
.mainContent::-webkit-scrollbar-thumb:active {
  background-color: #9e9e9e;
}
